@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap");
.hamburger__image, #facebook, #twitter, #instagram, #linkedin, .msg-pop__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

*
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-weight: 400;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  letter-spacing: 0.4px; }

.container {
  padding-left: 10px;
  padding-right: 10px; }

main {
  background-color: #666; }

a {
  text-decoration: none; }

h4 {
  font-weight: 500;
  text-transform: uppercase; }

footer {
  background-color: #333645;
  color: #FFF;
  padding: 47px 0 43px; }
  footer a {
    color: #FFF; }
    footer a:hover {
      text-decoration: underline; }

.search {
  font-size: 14px;
  border-radius: 2px; }
  .search:focus {
    outline: none; }

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 13px; }

img {
  max-width: 100%; }

@font-face {
  font-family: 'IcoMoon-Free';
  src: url("../fonts/IcoMoon-Free.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'IcoMoon-Free' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  -o-font-feature-settings: "liga";
  font-feature-settings: "liga";
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.services, .offices, .services__item, .offices__item {
  display: flex;
  margin: 0 0 30px;
  justify-content: center; }
  @media screen and (min-width: 1px) and (max-width: 496px) {
    .services, .offices, .services__item, .offices__item {
      margin-left: auto;
      margin-right: auto; } }

.top-banner {
  padding: 20px 4px 20px 4px; }

@media screen and (max-width: 767px) {
  .top-banner {
    display: flex;
    flex-direction: column; }
    .top-banner__row--item:not(:first-child) {
      margin-left: 10px;
      margin-right: 10px;
      flex-shrink: 0; }
    .top-banner__row:first-child {
      display: flex;
      flex-direction: row;
      justify-content: space-around; }
    .top-banner__row--item:first-child {
      margin-right: auto;
      margin-top: auto;
      margin-bottom: auto; }

  .phone {
    position: relative; }
    .phone__image {
      height: 25px;
      width: 25px;
      margin-top: 20px; }

  .search-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row; }
    .search-wrapper__item {
      height: 47px;
      background-color: rgba(0, 0, 0, 0.1);
      border: 2px solid rgba(0, 0, 0, 0.1); }
      .search-wrapper__item:first-child {
        padding: 5px 40px 5px 15px;
        margin: 0;
        border-right: none;
        color: #999AA2;
        flex-grow: 1; }
      .search-wrapper__item:last-child {
        border-left: none; }

  .inset-search-icon {
    position: relative;
    width: 45px; }
    .inset-search-icon--image {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 20px;
      width: 20px; } }
@media screen and (min-width: 768px) {
  .top-banner__row {
    display: flex;
    flex-direction: row;
    justify-content: center; }
    .top-banner__row--item:first-child {
      margin-right: 80px;
      width: 370px; }

  .search {
    height: 56px;
    width: 174px;
    margin-right: 0px;
    border: 1px solid #ccc;
    border-radius: 2px 0 0 2px;
    padding-left: 15px; }
    .search:focus {
      outline: #4183D7;
      box-shadow: 0 0 10px #4183D7; }
    .search__icon {
      color: #FFF;
      background-color: #999AA2;
      height: 56px;
      width: 63px;
      font-size: 24px;
      padding: 16px 19.5px 16px;
      border-radius: 0 3px 3px 0;
      margin-left: 0; }
      .search__icon:hover {
        background-color: #797a85; }

  .top-search {
    margin-top: 6px;
    display: flex;
    flex-direction: row;
    margin-right: 25px; } }
@media screen and (min-width: 992px) {
  .search__icon {
    border-radius: 2px; } }
.box {
  border-radius: 2px;
  position: relative;
  height: 56px;
  margin-top: 6px;
  margin-bottom: 15px; }

.hamburger {
  background-color: #333645;
  width: 63px; }
  .hamburger:hover {
    background-color: #1d1f28; }
  .hamburger__image {
    height: 45px;
    width: 55px; }

.mouse {
  background-color: #4183d7;
  width: 141px;
  margin-right: 20px; }
  .mouse:hover {
    background-color: #286abd; }

.send {
  background-color: #999AA2;
  width: 141px;
  margin-right: 20px; }
  .send:hover {
    background-color: #7e808a; }

.mouse, .send {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-transform: uppercase;
  color: #FFF;
  font-size: 18px; }
  .mouse__image, .send__image {
    height: 25px; }
  .mouse__child, .send__child {
    margin-top: auto;
    margin-bottom: auto; }
    .mouse__child:first-child, .send__child:first-child {
      margin-right: 5px; }

.foot-wrap {
  float: none;
  margin-left: auto;
  margin-right: auto; }
  @media screen and (min-width: 768px) {
    .foot-wrap {
      min-width: 768px;
      max-width: 80%; } }
  @media screen and (min-width: 992px) {
    .foot-wrap {
      max-width: 1159.2px; } }

@media screen and (min-width: 1260px) {
  .footer-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between; } }

@media screen and (min-width: 1px) and (max-width: 496px) {
  .services, .offices {
    flex-direction: column; } }
@media screen and (min-width: 497px) {
  .services, .offices {
    flex-direction: row; } }
@media screen and (min-width: 992px) {
  .services, .offices {
    justify-content: space-around; } }
.services__item, .offices__item {
  flex-direction: column;
  min-width: 225px; }
  .services__item:first-child, .offices__item:first-child {
    margin-bottom: auto; }

@media screen and (min-width: 497px) {
  .offices {
    flex-wrap: wrap; } }

.last-section {
  margin: 10px 0 0;
  font-size: 13px;
  width: 100%;
  border-top: 1px solid #888;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  .last-section__item {
    margin: 5px;
    display: flex;
    flex-direction: row; }
    .last-section__item:first-child {
      padding: 10px 0 0; }
    .last-section__item:last-child {
      padding: 4px 0 0; }
    .last-section__item--item {
      margin-left: 5px;
      margin-right: 5px; }

.icn {
  display: flex;
  flex-direction: row; }
  .icn__item {
    width: 29px;
    height: 29px; }

#facebook {
  width: 13px;
  height: 13px; }

.facebook {
  position: relative; }
  .facebook:hover {
    background-color: #4267b2;
    border-radius: 50%; }

#twitter {
  width: 13px;
  height: 13px; }

.twitter {
  position: relative; }
  .twitter:hover {
    background-color: #1da1f2;
    border-radius: 50%; }

#instagram {
  width: 13px;
  height: 13px; }

.instagram {
  position: relative; }
  .instagram:hover {
    background-color: #E1306C;
    border-radius: 50%; }

#linkedin {
  width: 13px;
  height: 13px; }

.linkedin {
  position: relative; }
  .linkedin:hover {
    background-color: #0e76a8;
    border-radius: 50%; }

.msg-pop {
  z-index: 100;
  position: fixed;
  right: 15px;
  bottom: 70px;
  height: 60px;
  width: 60px;
  background-color: #333645;
  border-radius: 50%;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4); }
  .msg-pop__icon {
    position: absolute; }

@media screen and (max-width: 767px) {
  .is-collapsed-small-screen {
    visibility: collapse;
    padding: 0;
    height: 0;
    margin: 0;
    line-height: 0;
    width: 0; } }

@media screen and (min-width: 768px) {
  .is-collapsed-large-screen {
    visibility: collapse;
    padding: 0;
    height: 0;
    margin: 0;
    line-height: 0;
    width: 0; } }

@media screen and (min-width: 992px) and (max-width: 1260px) {
  .is-collapsed-x-large-screen {
    visibility: collapse;
    padding: 0;
    height: 0;
    margin: 0;
    line-height: 0;
    width: 0; } }

@media screen and (max-width: 992px) {
  .is-visible-x-large-screen {
    visibility: collapse;
    padding: 0;
    height: 0;
    margin: 0;
    line-height: 0;
    width: 0; } }

/*# sourceMappingURL=application.css.map */
