// --------------------------------------------------------------------------
// collapsing segments depending on screen ----------------------------------
// --------------------------------------------------------------------------


.is-collapsed-small-screen {
    @media screen and (max-width: ($brkpoint-lg - 1)) {
      visibility: collapse;
      padding: 0;
      height: 0;
      margin: 0;
      line-height: 0;
      width: 0;
    }
}

.is-collapsed-large-screen {
    @media screen and (min-width: $brkpoint-lg) {
      visibility: collapse;
      padding: 0;
      height: 0;
      margin: 0;
      line-height: 0;
      width: 0;
    }
}

.is-collapsed-x-large-screen {
  @media screen and (min-width: $brkpoint-xlg) and (max-width: $brkpoint-xxlg) {
    visibility: collapse;
    padding: 0;
    height: 0;
    margin: 0;
    line-height: 0;
    width: 0;
  }
}

.is-visible-x-large-screen {
  @media screen and (max-width: $brkpoint-xlg) {
    visibility: collapse;
    padding: 0;
    height: 0;
    margin: 0;
    line-height: 0;
    width: 0;
  }
}



