.grey {
    background-color: $grey;
}

.bck-img {
    height: 550px;
    background-image: url("../img/home-oaVs.webp"), linear-gradient(to right, darken($dark-grey, 55%) , $white); 
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: multiply;
    background-size: cover;
}

.primary {
    background-color: $color-primary;
}