
// --------------------------------------------------------------------------
// extends ------------------------------------------------------------------
// --------------------------------------------------------------------------

%flex {
    display: flex;
    margin: 0 0 30px;
    justify-content: center;
    @include mq(small) {
        margin-left: auto;
        margin-right: auto;
    }
}


