// --------------------------------------------------------------------------
// Header -------------------------------------------------------------------
// --------------------------------------------------------------------------

.top-banner {
    padding: 20px 4px 20px 4px;
}

//--------------------------------------------------------------------------------------------------
//small mquery (not using function as the website specifies this between ranges not used in function)
//--------------------------------------------------------------------------------------------------

@media screen and (max-width: ($brkpoint-lg - 1)) {
    .top-banner {
        display: flex;
        flex-direction: column;
        &__row {
            &--item:not(:first-child) {
                margin-left: 10px;
                margin-right: 10px;
                flex-shrink: 0;
            }
            &:first-child {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
            }
            &--item:first-child {
                margin-right: auto;
                margin-top: auto;
                margin-bottom: auto;
            }

        }
    }
    .phone {
        position: relative;
        &__image {
            height: 25px;
            width: 25px;
            margin-top: 20px;
        }
    }
    .search-wrapper {
        width: 100%;
        display: flex;
        flex-direction: row;
        &__item {
            height: 47px;
            background-color: $grey;
            border: 2px solid darken($grey, 10%);
            &:first-child {  
                padding: 5px 40px 5px 15px;
                margin: 0;
                border-right: none;
                color: $dark-grey;
                flex-grow: 1;
            }
            &:last-child {
                border-left: none;
            }
        }
    }
    .inset-search-icon {
        position: relative;
        width: 45px;
        &--image {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            height: 20px;
            width: 20px;

        }
    }
}

//----------------------
//second stage of mquery
//----------------------

@include mq(large) {
    .top-banner__row {
        display: flex;
        flex-direction: row;
        justify-content: center;
        &--item:first-child {
            margin-right: 80px;
            width: 370px;
        }
    } 
    .search {
        height: 56px;
        width: 174px;
        margin-right: 0px;
        border: 1px solid #ccc;
        border-radius: 2px 0 0 2px;;
        padding-left: 15px;
        &:focus {
            outline: $tufts-blue;
            box-shadow: 0 0 10px $tufts-blue;
        }
        &__icon {
            color: $white;
            background-color: $dark-grey;
            height: 56px;
            width: 63px;
            font-size: $base__line;
            padding: 16px 19.5px 16px;
            border-radius: 0 3px 3px 0;
            margin-left: 0;
            &:hover {
                background-color: darken($dark-grey, 12%);
            }
        }
    }
    .top-search {
        margin-top:6px;
        display: flex;
        flex-direction: row;
        margin-right: 25px;
    }
}

//---------------------------------------
//largest breakpoint
//---------------------------------------


@include mq(x-large) {
    .search__icon {
        border-radius: 2px;
    }
    // .top-search__child:first-child {
    //     width: 240px;
    // }

}

//---------------------------------------
//for elements unneffected by screen size
//---------------------------------------

.box {
    border-radius: 2px;
    position: relative;
    height: 56px;
    margin-top:6px;
    margin-bottom: 15px;
}

.hamburger {
    background-color: $color-primary;
    width: 63px;
    &:hover {
        background-color: darken($color-primary, 10%);
    }
    &__image {
        height: 45px;
        width: 55px;
    }
    &__image {
        @extend %img-center;
    }
    
}

.mouse {
    background-color: $magical-merlin;
    width: 141px;
    margin-right: 20px;
    &:hover {
        background-color: darken($magical-merlin, 10%);
    }
}
.send {
    background-color: $dark-grey;
    width: 141px;
    margin-right: 20px;
    &:hover {
        background-color: darken($dark-grey, 10%);
    }
}

.mouse, .send {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-transform: uppercase;
    color: $white;
    font-size: 18px;
    &__image {
        height: 25px;
    }
    &__child {
        margin-top: auto;
        margin-bottom: auto;
        &:first-child {
            margin-right: 5px;
        }
    }
}






