// --------------------------------------------------------------------------
// Header -------------------------------------------------------------------
// --------------------------------------------------------------------------

.top-banner {
    padding: 20px 4px 20px 4px;
}

//small mquery (not using function as the website specifies this between ranges not used in function)
@media screen and (max-width: ($brkpoint-lg - 1)) {
    .top-banner {
        display: flex;
        flex-direction: column;
        &__row {
            &--item:not(:first-child) {
                margin-left: 10px;
                margin-right: 10px;
                flex-shrink: 0;
            }
            &:first-child {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
            }
            &--item:first-child {
                margin-right: auto;
                margin-top: auto;
                margin-bottom: auto;
            }

        }
    }
    .phone {
        position: relative;
        &__image {
            height: 25px;
            width: 25px;
            margin-top: 20px;
        }
    }
    .search {
        height: 47px;
        width: 100%;
        padding: 5px 40px 5px 15px;
        margin: 0;
        background-color: rgba(0,0,0,0.1);
        border: 2px solid rgba(0,0,0,0.13);
        color: rgba(0,0,0,0.13);
    }
    .top-search {
        width: 0;
    }
}


//second stage of mquery
@include mq(large) {
    .top-banner__row {
        display: flex;
        flex-direction: row;
        justify-content: center;
        &--item:first-child {
            margin-right: 50px;
        }
    } 
    .search {
        height: 56px;
        width: 174px;
        margin-top:6px;
        margin-right: 10px;
    }
    .phone {
        width: 0;
    }
}

//menun icon remains unneffected by screen size

.hamburger {
    background-color: $color-primary;
    border-radius: 3px;
    &:hover {
        background-color: darken($color-primary, 10%);
    }
    position: relative;
    height: 56px;
    width: 63px;
    margin-top:6px;
    margin-bottom: 15px;
    &__image {
        @extend %img-center;
        height: 45px;
        width: 55px;
    }
    
}




