

* {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-weight: $font-weight--light;
    font-size: $base__font-size;
    font-family: $font-family--primary;
    line-height: ($base__line/$base__font-size);
    letter-spacing: $letter-space;
}

.container {
    padding-left: 10px;
    padding-right: 10px;
}


main {
    background-color: $color-secondary;
}

a {
    text-decoration: none;
}

h2 {
    font-size: 40px;
}

h4 {
    font-weight: $font-weight--medium;
    text-transform: uppercase;
}

p {
    font-size: 20px;
}

footer {
    background-color: $color-primary;
    color: $white;
    padding: 47px 0 43px;
    a {
        color: $white;
        &:hover {
            text-decoration: underline;
        }
    }
}

.search {
    font-size: 14px;
    border-radius: 2px;
    &:focus {
        outline: none;
    }
}

//lists

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: $font-size--small;
}

img{
    max-width: 100%;
}

@font-face {
    font-family: 'IcoMoon-Free';
    src: url('../fonts/IcoMoon-Free.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.icon {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'IcoMoon-Free' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    
    /* Enable Ligatures ================ */
    letter-spacing: 0;
    -webkit-font-feature-settings: "liga";
    -moz-font-feature-settings: "liga=1";
    -moz-font-feature-settings: "liga";
    -ms-font-feature-settings: "liga" 1;
    -o-font-feature-settings: "liga";
    font-feature-settings: "liga";

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


