.grey {
    background-color: lighten($grey, 80%);
}
.dark-grey {
    background-color: $grey;
}
.bck-img {
    background-size: contain;
    background-image: url("../img/home-oaVs.webp"), linear-gradient(-270deg, darken($dark-grey, 55%) , $white); 
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: multiply;
    background-size: cover;
}

.primary {
    background-color: $color-primary;
}