// --------------------------------------------------------------------------
// section with sliding images ----------------------------------------------
// --------------------------------------------------------------------------

//main styling rules
.header-text-image {
    a {
        color: $white;
    }
    position: relative;
    height: 550px;
    color: $white;
    @include flex-col;
    justify-content: center;
    text-align: center;
    padding: 0 15px 45px;
    h2 {
        margin: 0 0 20px;
        line-height: (0.8*($base__line/$base__font-size));
        font-weight: 500;
    }
    p {
        margin: 0 0 6px;
    }
    .button {
        font-size: 20px;
        background-color: $rackley;
        padding: 15px 20px;
        margin: 31px 0 32px;
        width: 200px;
        margin-left: auto;
        margin-right: auto;
        &:hover {
            background-color: darken($rackley, 10%);
        }
    }
    span {
        &:after {
            content: "\ea3c"; //arrow in button
        }
        margin-left: 9px;
    }

    //bottom slider links
    .slider-link {
        @include flex-row;
        justify-content: center;
        position: absolute;
        bottom: 30px;
        left: 50%;
        transform: translate(-50%, -50%);
        // margin-top: 20px;
        &__item {
            height: 23px;
            width: 23px;
            position: relative;
            margin: 0 5px;
            &:hover {
                border: 2px solid $white;
                border-radius: 50%;
                .slider-link__item--inner {
                    background-color: $white;
                }
            }
            &--inner {
                width: 11px;
                height: 11px;
                background-color: $dark-grey;
                border-radius: 50%;
                @extend %img-center;
            }
        }
    }
}


//move to left media query
@include mq(x-large) {
    .header-text-image {
        text-align: start; 
        &__item {
            max-width: 1000px;
        }
        .button {
            margin-left: 0;
        }
        h2 {
            font-size: 64px;
        }
        p {
            font-size: 26px;
        }
    }
}